# keep Neon credentials secure: do not expose them to client-side code

DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
NEXT_PUBLIC_BASE_URL=http://localhost:3000 # Base URL of your app

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


# Cloudinary Env
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=

RESEND_API_KEY=
